- name: Set up continugo.tasuki.org
  hosts: all
  vars:
    repo: https://github.com/tasuki/continugo.git
    chdir: /var/www/org.tasuki/continugo
  tasks:
    - name: "Clone {{ repo }} to {{ chdir }}"
      import_tasks: ../../roles/git-deployments/tasks/clone.yml

    - name: Install Elm
      import_tasks: ../tasks/install-elm.yml

    - name: "Check whether {{ chdir }}/continugo.js exists"
      stat:
        path: "{{ chdir }}/continugo.js"
      register: generated_js
    - name: Make
      make:
        chdir: "{{ chdir }}"
      when: not generated_js.stat.exists
