- name: Set up games.tasuki.org
  hosts: all
  vars:
    repo: https://github.com/tasuki/game-comment.git
    chdir: /var/www/org.tasuki/games
  vars_files:
    - ../../vars/vault.yml
  tasks:

    # clone
    - name: "Clone {{ repo }} to {{ chdir }}"
      import_tasks: ../../roles/git-deployments/tasks/clone.yml

    # frontend
    - name: Install Elm
      import_tasks: ../tasks/install-elm.yml
    - name: "Check whether {{ chdir }}/frontend/gc.js exists"
      stat:
        path: "{{ chdir }}/frontend/gc.js"
      register: generated_js
    - name: Make
      make:
        chdir: "{{ chdir }}/frontend/"
      when: not generated_js.stat.exists

    # backend service
    - name: Copy systemd service config
      become: true
      template:
        src: "org.tasuki.games/game-comment.service"
        dest: "/etc/systemd/system"
    - name: Allow restarting the service without password
      become: true
      community.general.sudoers:
        name: "{{ ansible_user_id }}-game-comment"
        user: "{{ ansible_user_id }}"
        commands:
          - /bin/systemctl stop game-comment
          - /bin/systemctl start game-comment
          - /bin/systemctl restart game-comment

    # backend
    - name: "Set up the app environment"
      template:
        src: "org.tasuki.games/.env"
        dest: "{{ chdir }}/backend/.env"
    - name: "Check whether {{ chdir }}/backend/bin/gc-server exists"
      stat:
        path: "{{ chdir }}/backend/bin/gc-server"
      register: generated_backend
    - name: Make
      make:
        chdir: "{{ chdir }}/backend/"
      when: not generated_backend.stat.exists

    # start backend service
    - name: Start the game-comment service now and at system startup
      become: true
      systemd:
        daemon_reexec: true
        daemon_reload: true
        name: game-comment
        state: started
        enabled: true
