- name: Set up domains.tasuki (@handshake)
  hosts: all
  vars:
    repo: https://github.com/tasuki/domains.git
    chdir: /var/www/tasuki/domains
  tasks:
    - name: Download Elm 0.19.1
      become: true
      shell: "curl -L https://github.com/elm/compiler/releases/download/0.19.1/binary-for-linux-64-bit.gz | gunzip > elm"
      args:
        creates: elm
    - name: Install Elm
      become: true
      copy:
        src: elm
        remote_src: true
        dest: /usr/local/bin/elm
        mode: '755'
        owner: root
        group: root

    - name: "Clone {{ repo }} to {{ chdir }}"
      import_tasks: ../../roles/git-deployments/tasks/clone.yml
    - name: "Check whether {{ chdir }}/domains.js exists"
      stat:
        path: "{{ chdir }}/domains.js"
      register: generated_js
    - name: Make
      make:
        chdir: "{{ chdir }}"
      when: not generated_js.stat.exists
