- name: Install Apache etc
  apt:
    pkg:
      - php-fpm
      - apache2
      - cronolog

- name: Enable apache modules
  community.general.apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - proxy_fcgi # required by php-fpm
    - mpm_event # for http2
    - rewrite
    - ssl
    - proxy # namebase proxy
    - proxy_http # namebase proxy
    - headers
    - cache_disk
    - cgid # awstats
    - http2
  notify: Restart apache

# TODO this here might require `sudo a2enconf php{version}-fpm.conf`

- name: Add fallback index
  copy:
    src: html-index.php
    dest: /var/www/html/index.php
- name: Remove default fallback index
  file:
    path: /var/www/html/index.html
    state: absent
- name: Add default ssl fallback
  copy:
    src: default-ssl.conf
    dest: /etc/apache2/sites-available/000-default-ssl.conf
  notify: Restart apache
- name: Enable default ssl
  command: "a2ensite 000-default-ssl.conf"
  args:
    creates: /etc/apache2/sites-enabled/000-default-ssl.conf
  notify: Restart apache
- name: Use gzip deflation where it makes sense
  lineinfile:
    path: "/etc/apache2/mods-available/deflate.conf"
    regex: "{{ item }}"
    line: "\tAddOutputFilterByType DEFLATE {{ item }}"
    insertafter: "<IfModule mod_filter.c>"
  loop:
    - "text/markdown"
    - "image/svg+xml"
    - "application/json"
  notify: Restart apache

- name: Create log directories
  file:
    path: "/var/log/apache2/{{ item.domain }}/{{ item.subdomain }}/"
    state: directory
  loop:
    "{{ projects }}"
- name: Zip old logs
  lineinfile:
    path: "/etc/crontab"
    regex: "find /var/log/apache2"
    line: >-
      57 6    1 * *   root    find
      /var/log/apache2 -name '*.log' -daystart -mtime +0 -exec gzip {} \;

- name: Htpasswd
  template:
    src: htpasswd
    dest: "/etc/apache2/htpasswd"
  notify: Restart apache

- name: Create websites
  template:
    src: "sites/{{ item.domain }}.{{ item.subdomain }}.conf"
    dest: "/etc/apache2/sites-available/{{ item.domain }}.{{ item.subdomain }}.conf"
  vars:
    document_root_path: "/"
  loop:
    "{{ projects }}"
  notify: Restart apache
- name: Enable websites
  command: "a2ensite {{ item.domain }}.{{ item.subdomain }}.conf"
  args:
    creates: /etc/apache2/sites-enabled/{{ item.domain }}.{{ item.subdomain }}.conf
  loop:
    "{{ projects }}"
  notify: Restart apache
